main {
    display: inline-block;
    flex-grow: 1;
    width: 98%;
    max-width: 960px;
    margin: 20px auto;
}

.body {
    align-items: center;
    display: flex;
}

.about,
h4 {
    margin-bottom: 14px;
    margin-right: 16px;
    width: 95%;
}

.bio {
    width: 70%;
}

.selfie {
    width: 30%;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    top: -25px;
    border-radius: 50%;
    overflow: hidden;
}

.redir {
    color: #c5002e;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.redir:hover {
    text-decoration-color: #FFCC33;
    transition: 0.5s;
}

@media (max-width: 720px) {
    h4 {
        font-size: 20px;
    }

    .center {
        gap: 10px;
    }

    .selfie {
        width: 0%;
    }

    .about {
        font-size: 15px;
        margin-right: 0;
        width: 95%;
    }

    .bio {
        width: 100%;
    }
}