@font-face{
    font-family: 'ranade';
    src: url('resources/Ranade_Complete/Fonts/WEB/fonts/Ranade-Variable.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-color: #1b2236;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: .5s;
}

body {
    margin: 0;
    background: #1b2236;
    /* color: white; */
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'ranade', sans-serif, 'Times New Roman', Times, serif;
}

/* HEADER */

header {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-family: 'ranade';
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 960px;
}

h1, h4 {
    font-size: 28px;
    color: whitesmoke;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h1, h2, h3 {
    border: 3px solid green;
    border-color: transparent;
}

i {
    color: rgb(100, 115, 130);
}

.about {
    color: rgb(205, 205, 205);
    margin: 14px 0;
    text-align: left;
}

.top {
    display: flex;
}

.icon{
    font-size: 24px;
}

.greyLink {
    color: lightgrey;
    margin: 0 8px;
}

.headal {
    margin-top: 5px;
}

/* BODY */

 main{
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    font-family: 'ranade';
    display: flex;
    gap: 10px;
    font-size: 18px;
    padding: 8px;
    max-width: 960px;
}

.selfie {
    width: 720px;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    top: -25px;
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */

/* footer {
    display: flex;
    flex-direction: column;
}

footer > section {
    padding: 14px;
}

footer > section:last-child {
    display: flex;
    padding: 14px;
    background: #020617;
    align-items: center;
    justify-content: space-around;
}
.footerLink {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

@media (min-width: 540px) {
    footer>section:last-child {
        flex-direction: row;
    }
} */
