@font-face{
    font-family: 'ranade';
    src: url('resources/Ranade_Complete/Fonts/WEB/fonts/Ranade-Variable.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-color: #1b2236;
    /* border: 1px solid green; */
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: .5s;
}

body {
    background: #1b2236;    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'ranade', sans-serif, 'Times New Roman', Times, serif;
}

/* HEADER */

header {
    width: 90%;
    margin: 20px auto;
    padding: 8px;
    font-family: 'ranade';
    display: flex;
    align-items: center;
    max-width: 960px;
}

.about {
    text-align: left;
    color: rgb(205, 205, 205) !important;
    font-size: 18px;
}

h1, h4 {
    font-size: 28px;
    color: whitesmoke;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h1, h2 {
    border: 3px solid green;
    border-color: transparent;
}

.right {
    align-items:start;
    display: flex;
}

.centerTop {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.icon{
    font-size: 24px;
}

.greyLink {
    color: lightgrey;
    margin: 0 8px;
}

.headal {
    margin-top: 5px;
}

/* BODY */

 main{
    display:inline-block;
    flex-grow: 1;
    padding: 16px;
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
}

.body {
    align-items: center;
    display: flex;
}

.about, h4 {
    margin-bottom: 14px;
    margin-right: 16px !important;
}

.selfie {
    width: 720px;
    max-width: 720px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    top: -25px;
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */

.credit {
    color: rgb(172, 187, 202);
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 14px;
}

footer {
    bottom: 0;
    width: 100%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    background: #020617;
    align-items: center;
    padding-bottom: 14px;
}

.reference {
    display: flex;
    cursor: pointer;
    padding: 10px 0;
}

.footIcon {
    font-size: 16px;
    color:rgba(255, 255, 255, 0.933);
    padding: 0 5px;
}

.footerLink {
    margin: 0 8px;
    color: white;
}

h5 {
    font-size: 14px;
    margin-top: 2px;
}

p {
    color: whitesmoke;
}

.linkedIn {
    color: #3d99f5;
}

@media (max-width: 720px){
    .selfie {
        width: 0;
    }
}

@media (max-width: 600px){
    header {
        margin: 10px auto;
    }
    h2 {
        font-size: 14px;
        margin-top: 5px;
    }
    h4 {
        font-size: 21px;
    }
    .selfie {
        width: 0;
    }
    .about {
        font-size: 15px;
    }
    .credit {
        font-size: 12px;
    }
}