@font-face{
    font-family: 'ranade';
    src: url('resources/Ranade_Complete/Fonts/WEB/fonts/Ranade-Variable.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-color: #1b2236;
    /* border: 1px solid green; */
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: .5s;
}

body {
    background: #1b2236;    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'ranade', sans-serif, 'Times New Roman', Times, serif;
}

/* HEADER */

header {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-family: 'ranade';
    max-width: 960px;
    flex-wrap: nowrap;
}

h1, h4 {
    font-size: 28px;
    color: rgb(250, 250, 250);
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(230, 230, 230);
}

h1, h2 {
    border: 3px solid green;
    border-color: transparent;
}

.left {
    display: flex;
    align-items:start;
}

.center {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
    padding-left: -25px;
}

.icon{
    font-size: 24px;
}

/* BODY */

 main{
    display: inline-block;
    flex-grow: 1;
    padding: 16px;
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
}

.body {
    align-items: center;
    display: flex;
}

.about, h4 {
    margin-bottom: 14px;
    margin-right: 16px;
}

.selfie {
    width: 720px;
    max-width: 720px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    top: -25px;
    border-radius: 50%;
    overflow: hidden;
}

/* FOOTER */

.credit {
    color: rgb(172, 187, 202);
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 14px;
}

footer {
    bottom: 0;
    width: 100%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    background: #020617;
    align-items: center;
    padding-bottom: 14px;
}

.reference {
    display: flex;
    cursor: pointer;
    padding: 10px 0;
}

.footIcon {
    font-size: 16px;
    color:rgba(255, 255, 255, 0.933);
    padding: 0 5px;
}

.footerLink {
    margin: 0 8px;
    color: white;
}

h5 {
    font-size: 14px;
    margin-top: 2px;
}

p {
    color: whitesmoke;
}

.about {
    text-align: left;
    color: rgb(210, 215, 215);
    font-size: 18px;
}

.linkedIn {
    color: #3d99f5;
}

@media (max-width: 700px){
    header {
        margin: 10px auto;
    }
    h2 {
        font-size: 12px;
    }
    h1, h4 {
        font-size: 20px;
    }
    .center {
        gap: 10px;
    }
    .selfie {
        width: 0;
    }
    .about {
        font-size: 15px;
        margin-right: 0;
    }
    footer {
        height: 120px;
    }
    .reference {
        margin-top: 10px;
    }
    .credit {
        font-size: 12px;
        margin-top: 10px;
    }
}