<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} &middot; Owen Peterson</title>
    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% for stylesheet in page.styles %}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
    {% endfor %}
    <link rel="icon" href="{{ '/assets/images/profile.jpg' | relative_url }}">
</head>
