ul,
h3 {
    color: #ffffff;
}

h3 {
    text-decoration: underline;
    font-size: 24px;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;
}

.inf {
    display: flex;
    flex-direction: row;
}

.title {
    color: #9fa5af;
    font-size: 20px;
    font-weight: 500;
}

.title:hover {
    transition: 0.5s;
    text-decoration: underline;
    cursor: pointer;
}

.date {
    margin-left: 10px;
    margin-top: 5px;
    width: 15%;
}

h6 {
    color: #9fa5af;
    font-size: 16px;
    font-weight: 300;
}

.desc {
    font-weight: 200;
    font-size: 14px;
    padding: 3px;
    border: #c28c199c solid;
    background-color: #49350b;
    border-radius: 5px;
}

.display {
    margin: 12px 0;
}