<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    {% assign asset_version = site.time | date: '%s' %}
    <script src="{{ '/assets/js/nav.js' | relative_url }}?v={{ asset_version }}"></script>
    {% for script in page.scripts %}
    <script src="{{ script | relative_url }}{% unless script contains '://' %}?v={{ asset_version }}{% endunless %}"></script>
    {% endfor %}
</body>
</html>
